/* Scrollbar Styles */

/* Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Firefox Support */
* {
  scrollbar-width: thin;
  scrollbar-color: #bbb #f1f1f1;
}
